:root {
    --primary-text1Color: #CFD8DC;
    --primary-text2color: #757575;

    --primary-bgcolor: #455A64;
    --primary-windowcolor:#CFD8DC;

    --primary-maincolor: #212121;
    --primary-secorndcolor: #212121;
    --primary-agentcolor: #FF5252;
    --primary-shadow: 0 0 2px #22222267;
    --primary-shadow-light: 0 0 2px #a5a5a567;

    --primary-fontSizeTitle: 30px;
    --primary-fontSizePrime: 18px;
    --primary-fontSizeSecond: 14px;
}


::-webkit-scrollbar {
    width: 7px;
    background-color:transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}

summary {
    display: block;
    cursor: pointer;
    outline: 0; 
} 
summary::-webkit-details-marker {
    display: none;
}
body{
    background: var(--primary-bgcolor);    
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
    font-size: 13px;
}
button {
    font-size: 16;
}
header{
    background-color: var(--primary-maincolor);
    width: 100%;
    height: 70px;
    display: flex;   
}
h1 {
margin: 0 auto;
}
footer{
    background-color:var(--primary-maincolor);
    width: 100vw;
    height: 5VH;
}
input[type="text"] {
    color:  var(--primary-text2color);
    background-color:var(--primary-text1Color);
    font-size: var(--primary-fontSizeSecond);
    border: none;
    width: 28px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px white;
}
input[type='range']{
    width: 120px;
}
input:focus {
    outline: none;
}
select {
    outline: none;
    border: none;
    font-size: small;
    padding: 5px;
    background-color: var(--primary-text1Color);
}
input[type='color'] {
    outline: none;
    border: none;
}
.site-title {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--primary-text1Color);
    font-size: var(--primary-fontSizeTitle);
}

.wrapped {
    color:var(--primary-text2color);
    max-width: 1920px;
    margin: 0 auto;
}
.wrapper-flex {
    display: flex;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: var(--primary-text1Color);
}
.nav {
    width: 250px;
    float: left;
    background: var(--primary-windowcolor);
    box-shadow: var(--primary-shadow);
}

.tree-panel {
    height: 86vh;
    overflow-y: scroll;
    margin: 15px 15px 0 0;
    padding: 25px 20px 20px 10px;
    background: #ffffff;
    box-shadow: var(--primary-shadow);
}

.tree-panel__item {
    display: block;
    white-space: nowrap;
    position: relative;
}
.tree-panel__item.is-expandable[open]::after {
    border-left: 1px solid var(--primary-text1Color);
    content: "";
    top: 2.4rem;
    left: 0.8rem;
    position: absolute;
    height: calc(100% - 3.2rem);
}
.tree-panel__item .tree-panel__item {
    margin-left: 2rem;
}
.tree-panel__item.is-expandable > .tree-panel__item-title {
    padding-left: 0.5rem;
}
.tree-panel__item.is-expandable[open] > .tree-panel__item-title::after {
    font-family: "ionicons";
    transform: rotate(90deg);
}
.tree-panel__item.is-expandable > .tree-panel__item-title::after {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: "ionicons";
    color: var(--primary-secorndcolor);
    font-size: 0.7rem;
    content: "\f125";
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}


.tree-panel__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: var(--primary-text2color);
    font-size: 1.2rem;
    line-height: 2rem;
}
.tree-panel__item-title::-webkit-details-marker {
display: none;
}


.window {
    background: var(--primary-maincolor);
    box-shadow: var(--primary-shadow);
    width: 100%;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;


    flex-direction: row-reverse;
    align-content: stretch;
    justify-content:center;   
}
.window_item {
    border: 5px solid red;
    margin: 10px;
    padding: 10px;
}
.window_item.result-box {
    order: 1;
}
.window_item.input-box {
    order: -1;
}

.result-box {
    min-width: 400px;
    height: 65vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    box-shadow: var(--primary-shadow-light);
}
.result-box button{
    max-height: 50px;
    background-color: Transparent;
    border: none;
    outline:none;
    cursor:pointer;
}
.result-box button:active {
    background: #ebebeb;
}
.result-box button:hover {
    box-shadow: 0 -2px 5px -5px black;
}
#result-box__text-box {
    height: auto;
    overflow: auto;
    line-height: 1.2;
}

.right-panel {
    width: 250px;
    padding: 10px;
    float: right;
    background: white;
    box-shadow: var(--primary-shadow);
    border: 1px solid red;
}
.input-box {
    margin: 0;
}
.input-box_item {
    margin: 10px;
}
.input-box_item-title {
    margin: 5px 0;
}
.input-box__border-radius {
    margin-top: 10px;   
}

#cube {
    margin: auto;
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    max-width: 500px;
    min-height: 150px;
    max-height: 500px;
    box-shadow: var(--primary-shadow);
    background-color: var(--primary-agentcolor);   
}

#test {
    width: 50%;
    height: 10%;
    background: #ffffff;
}



@media all and (max-width: 800px) { 
    .window { margin: 0; }

/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */
 
 .nav {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: absolute;
    top: 20px;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background: #16a085;
    z-index: 2000;
}

/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    position: absolute;
    left: 320px;
    top: 1em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/
 
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
 
/* цвет текста при наведении */
 
.nav-toggle:hover {
    color: #f4f4f4;
}
 
/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */
 
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
 
/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}
 
/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */
 
[id='nav-toggle']:checked ~ .nav {
    left: 0;
    overflow-y: auto;
}
 
/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}
}