:root {
    --primary-text1Color: #cfd8dc;
    --primary-text2color: #757575;

    --primary-bgcolor: white;
    --primary-windowcolor: #cfd8dc;

    --primary-maincolor: white;
    --primary-secorndcolor: #212121;
    --primary-agentcolor: #ff5252;
    --primary-shadow: 0 0 2px #22222267;
    --primary-shadow-light: 0 0 2px #a5a5a567;

    --primary-fontSizeTitle: 30px;
    --primary-fontSizePrime: 18px;
    --primary-fontSizeSecond: 14px;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}

/*-----общие стили-----*/
button {
    font-size: 16;
}
summary {
    display: block;
    cursor: pointer;
    outline: 0;
}
summary::-webkit-details-marker {
    display: none;
}
select {
    outline: none;
    border: none;
    font-size: small;
    padding: 5px;
    background-color: var(--primary-text1Color);
}
input[type='text'] {
    color: var(--primary-text2color);
    background-color: var(--primary-text1Color);
    font-size: var(--primary-fontSizeSecond);
    border: none;
    width: 28px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px white;
}
input[type='range'] {
    width: 120px;
}
input[type='color'] {
    outline: none;
    border: none;
}
input:focus {
    outline: none;
}

/*-----разное-----*/
.line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: var(--primary-text1Color);
}

/*----хедер-----*/
header {
    background-color: #ff3939;
    width: 100%;
    height: 70px;
    text-align: center;
}
header h1 {
    margin: 0 auto;
    color: #292929;
    font-size: 50px;
    text-transform: uppercase;
}
#menu-btn {
    position: absolute;
    display: none;
}

/*-----футер-----*/
footer {
    background-color: gainsboro;
    width: 100vw;
    height: 50px;
}

/*-----тело-----*/
body {
    background: var(--primary-bgcolor);
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/*-----скелет-----*/
.wrapped {
    color: var(--primary-text2color);
    max-width: 1920px;
    margin: 0 auto;
}
.wrapper-flex {
    display: flex;
    justify-content: space-between;
}

/*-----левая секция-----*/
.nav {
    width: 400px;
    min-width: 200px;
    box-shadow: var(--primary-shadow);
}

.tree-panel {
    background: #ffffff;
    box-shadow: var(--primary-shadow);
    padding-bottom: 50px;
}

.tree-panel__item {
    display: block;
    white-space: nowrap;
    position: relative;
}
.tree-panel__item.is-expandable[open]::after {
    border-left: 1px solid var(--primary-text1Color);
    content: '';
    top: 2.4rem;
    left: 0.8rem;
    position: absolute;
    height: calc(100% - 3.2rem);
}
.tree-panel__item .tree-panel__item {
    padding-left: 2rem;
}
.tree-panel__item.is-expandable > .tree-panel__item-title {
    padding-left: 1rem;
}
.tree-panel__item.is-expandable[open] > .tree-panel__item-title::after {
    font-family: 'ionicons';
    transform: rotate(90deg);
}
.tree-panel__item.is-expandable > .tree-panel__item-title::after {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: 'ionicons';
    color: var(--primary-secorndcolor);
    font-size: 0.7rem;
    content: '\f125';
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}

.tree-panel__item-title {
    display: block;
    outline: 0;
    color: var(--primary-text2color);
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 1rem;
}
.tree-panel__item-title:hover {
    background-color: #e2e2e2;
    color: black;
}
.tree-panel__item-title label {
    cursor: pointer;
}
.tree-panel__item-title::-webkit-details-marker {
    display: none;
}

/*-----центральная секция-----*/
.window {
    background: var(--primary-maincolor);
    box-shadow: var(--primary-shadow);
    width: 100%;
    max-width: 100%;
    height: calc(100vh + 190px);
    max-height: 1040px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
}
.window_item {
    padding: 10px;
    flex-grow: 1;
}
.cube {
    flex-grow: 2;
}
.container {
    width: calc(15vw + 100px);
    height: calc(15vw + 100px);
    margin: 0 auto;
}
#cube {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    height: 15vw;
    max-width: 500px;
    max-height: 500px;
    box-shadow: var(--primary-shadow);
    background-color: var(--primary-agentcolor);
    border-top-left-radius: 50px 10px;
}

/*окно вывода CSS кода*/
.result-box {
    min-width: 400px;
    max-width: 400px;
    max-height: 250px;
    margin-bottom: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    border: 1px solid #d3d3d3;
    box-shadow: var(--primary-shadow-light);
}
.result-box button {
    max-height: 50px;
    background-color: Transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.result-box button:active {
    background: #ebebeb;
}
.result-box button:hover {
    box-shadow: 0 -2px 5px -5px black;
}
#result-box__text-box {
    height: auto;
    overflow: auto;
    line-height: 1;
}

/*-----правая секция-----*/
.right-panel {
    width: 500px;
    float: right;
    overflow: auto;

    padding: 0 15px 70px 15px;
    background: white;
    box-shadow: var(--primary-shadow);
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.input-box {
    padding-top: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.input-box_title {
    font-size: 18px;
}
.input-box_item {
    margin: 0.5rem 0;
}
.input-box_item-title {
    margin: 5px 0;
}
.input-box_element {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.hide {
    display: none; /*держать внизу*/
}
/*-----debug-----*/
h2 {
    font-size: 13px;
    right: 0;
    position: absolute;
    color: red;
}

@media all and (max-width: 1040px) {
    h1 {
        font-size: 40px;
    }
    header {
        height: 50px;
        display: flex;
        align-items: center;
    }
    /*-----центральная секция-----*/
    .window {
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    /*-----левая секция-----*/
    /*-выдвигающееся меню-*/
    .nav {
        width: 100px;
        min-width: 250px;
        position: absolute;
        top: 50px;
        left: -100%;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        background: transparent;
        z-index: 2000;
    }
    .nav.open {
        left: 0;
    }
    .tree-panel {
        min-height: calc(100vh - 50px);
    }

    /*-кнопка меню (меню закрыто)-*/
    .nav-toggle {
        position: absolute;
        float: left;
        margin: 10px;
        padding: 10px;
        background: inherit;
        color: #dadada;
        cursor: pointer;
        font-size: 30px;
        line-height: 1;
        z-index: 2001;

        -webkit-transition: color 0.25s ease-in-out;
        -moz-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
    }
    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }
    .nav-toggle:hover {
        color: #f4f4f4;
    }

    /* для телефонов
.nav-toggle.open {  
    left: auto;
    margin-right: 20px;
    right: 2px;
    top: 1em;
}
.nav-toggle {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 0.5em;
}
*/
    .nav-toggle.open::after {
        content: '\2715';
    }
}
