:root {
    --primary-text1Color: #CFD8DC;
    --primary-text2color: #757575;

    --primary-bgcolor: #455A64;
    --primary-windowcolor:#CFD8DC;

    --primary-maincolor: #212121;
    --primary-secorndcolor: #212121;
    --primary-agentcolor: #FF5252;
    --primary-shadow: 0 0 2px #22222267;
    --primary-shadow-light: 0 0 2px #a5a5a567;

    --primary-fontSizeTitle: 30px;
    --primary-fontSizePrime: 18px;
    --primary-fontSizeSecond: 14px;
}


::-webkit-scrollbar {
    width: 7px;
    background-color:transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}

summary {
    display: block;
    cursor: pointer;
    outline: 0; 
} 
summary::-webkit-details-marker {
    display: none;
}
body{
    background: var(--primary-bgcolor);    
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font: Arial bold;
}
button {
    font-size: 18;
}
header{
    clear: both;
    background-color: var(--primary-maincolor);
    width: 100%;
    height: 70px;
    display: flex;   
}
h1 {
margin: 0 auto;
}
footer{
    background-color:var(--primary-maincolor);
    width: 100vw;
    height: 5VH;
}
input[type="text"] {
    color:  var(--primary-text2color);
    background-color:var(--primary-text1Color);
    font-size: var(--primary-fontSizeSecond);
    border: none;
    width: 28px;
    height: 20px;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px white;
}
input[type='range']{
    width: 120px;
}
input:focus {
    outline: none;
}

.site-title {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--primary-text1Color);
    font-size: var(--primary-fontSizeTitle); 
}

.wrapped {
    color:var(--primary-text2color);
    max-width: 1920px;
    margin: 0 auto;
}
.wrapper-flex {
    display: flex;
    justify-content: space-between;
}
.left-panel {
    width: 250px;
    float: left;
    background: var(--primary-windowcolor);
    box-shadow: var(--primary-shadow);
}

.tree-panel {
    height: 86vh;
    overflow-y: scroll;
    margin: 15px 15px 0 0;
    padding: 25px 20px 20px 10px;
    background: #ffffff;
    box-shadow: var(--primary-shadow);
}

.tree-panel__item {
    display: block;
    white-space: nowrap;
    position: relative;
}
.tree-panel__item.is-expandable[open]::after {
    border-left: 1px solid var(--primary-text1Color);
    content: "";
    top: 2.4rem;
    left: 0.8rem;
    position: absolute;
    height: calc(100% - 3.2rem);
}
.tree-panel__item .tree-panel__item {
    margin-left: 2rem;
}
.tree-panel__item.is-expandable > .tree-panel__item-title {
    padding-left: 0.5rem;
}
.tree-panel__item.is-expandable[open] > .tree-panel__item-title::after {
    font-family: "ionicons";
    transform: rotate(90deg);
}
.tree-panel__item.is-expandable > .tree-panel__item-title::after {
    position: absolute;
    will-change: transform;
    transition: transform 300ms ease;
    font-family: "ionicons";
    color: var(--primary-secorndcolor);
    font-size: 0.7rem;
    content: "\f125";
    display: inline-block;
    width: 1.6rem;
    text-align: center;
}


.tree-panel__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: var(--primary-text2color);
    font-size: 1.2rem;
    line-height: 2rem;
}
.tree-panel__item-title::-webkit-details-marker {
display: none;
}


.window {
    background: var(--primary-maincolor);
    box-shadow: var(--primary-shadow);
    width: 100%;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;


    flex-direction: row-reverse;
    align-content: stretch;
    justify-content:space-around;   
}
.window_item {
    border: 5px solid red;
    margin: 10px;
    padding: 10px;
}
.window_item.result-box {
    order: 1;
}
.window_item.input-box {
    order: -1;
}
@media all and (max-width: 800px) { .window{  margin: 0;} }


.result-box {
    min-width: 400px;
    height: 65vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    box-shadow: var(--primary-shadow-light);
}
.result-box button{
    max-height: 50px;
    background-color: Transparent;
    border: none;
    outline:none;
    cursor:pointer;
}
.result-box button:active {
    background: #ebebeb;
}
.result-box button:hover {
    box-shadow: 0 -2px 5px -5px black;
}
#result-box__text-box {
    height: auto;
    overflow: auto;
    line-height: 1.2;
}

.right-panel {
    width: 250px;
    padding: 10px;
    float: right;
    background: white;
    box-shadow: var(--primary-shadow);
    border: 1px solid red;
}
.input-box {
    margin: 0;
}
.input-box__border-radius {
    margin-top: 10px;   
}

#cube {
    margin: auto;
    width: 30vw;
    height: 30vw;
    min-width: 150px;
    max-width: 500px;
    min-height: 150px;
    max-height: 500px;
    box-shadow: var(--primary-shadow);
    background-color: var(--primary-agentcolor);   
}

